on:
  push:
    branches:
      - main
      - "release/**"
    paths:          
      - "src/**"

jobs:
  test:
      runs-on: ubuntu-latest
      steps:
       - name: Checkout
         uses: actions/checkout@v6.0.2

       - name: Run Tests
         run: npm test 